textarea {
    width: 100%;
}

.contact-us {
    background-color: $primary-color;
    color: white;
    padding: 25px;
}

form {
    width: 100%;

    display: flex;
    flex-direction: column;
    padding-top: 50px;
}

.user-inputs {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.user-input-1,
.user-input-2 {
    width: calc((100% / 2) - 7.5px);
}

.user-input-1 {
    margin-right: 10px;
}

.user-input-1,
.user-input-2 {
    input {
        padding-left: 20px;
    }
}

input {
    width: 100%;
    height: 50px;
    color: black;
}

.user-input-1 label,
.user-input-2 label,
label {
    display: block;
    padding-bottom: 10px;
}

textarea {
    padding: 20px 0;
    padding-left: 20px;
    color: black;
}

.contact-container {
    // display: flex;
    // flex-direction: row-reverse;
    // justify-content: space-between;
    // align-items: center;
    padding: 25px 0;
    .follow-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        ul {
            padding: 0;
        }
    }
}
