$primary-color: #4d07eb;
$secondary-color: #fb37bf;
$tertiary-color: #00d8f3;

.wrapper {
    margin: 0 auto;
    max-width: 1200px;
    width: 90%;
}

section {
    padding: 25px;
}

h2 {
    padding: 20px 0;
}

p {
    margin: 10px;
}

li {
    list-style: none;
}

button {
    background-color: $secondary-color;
    border-style: none;
    box-shadow: -5px 5px 2px rgba(0, 0, 0, 0.5);
    margin: 20px;
    width: 150px;
    height: 35px;
    border-radius: 25px;
    color: white;
    font-size: 16px;
}

nav a {
    text-decoration: none;
    color: black;
}

nav a:hover {
    color: $primary-color;
    transition: 0.3s;
    
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-image {
    max-width: 750px;
    width: 100%;
    margin: 10px 0;
}

.banner-image {
    width: 100%;
}

.regular-image {
    max-width: 500px;
    width: 100%;
    margin: 10px 0;
}

.skills {
    background-color: $primary-color;
    color: white;
}

.skills-container {
    .skills-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding-left: 0;

        .skills-item {
            display: flex;
            flex-direction: column;
            padding: 35px 125px;
            i {
                font-size: 6rem;
            }
            p {
                padding-top: 20px;
                font-size: 1rem;
            }
        }
    }
}

.project-icons-list {
    i:hover {
        color: $primary-color;
        transition: 0.3s;
    }
}

.skills-item {
    p:hover {
        color: $tertiary-color;
        opacity: 0.8;
        transition: 0.3s;
    }
    i:hover {
        color: $tertiary-color;
        opacity: 0.8;
        transition: 0.3s;
    }
}

button:hover {
    background-color: $tertiary-color;
    transition: 0.3s;
}

.github,
.linkedin,
.instagram {
    display: flex;
    flex-direction: column;
    padding: 25px;
    i {
        font-size: 2rem;
    }
}

.github,
.linkedin,
.instagram {
    i:hover {
        color: $primary-color;
        transition: 0.3s;
    }
}

// projects

.project-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.project-container {
    display: flex;
    padding: 25px 0;
    .word-container {
        width: 50%;
    }
    img {
        box-shadow: -5px 5px 3px rgba(0, 0, 0, 0.5);
        width: 50%;
    }
}

.project-icons-container {
    display: flex;
    justify-content: center;
    align-items: center;

    .project-icons-list {
        display: flex;
        i {
            font-size: 2rem;
            padding: 5px;
        }
    }
}

// about me

.about-me {
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
        width: 50%;
        text-align: center;
    }
}
