$primary-color: #4d07eb;
$secondary-color: #fb37bf;
$tertiary-color: #00d8f3;

.wrapper {
    margin: 0 auto;
    max-width: 1200px;
    width: 80%;
}

section {
    margin: 25px;
}

p {
    margin: 10px;
}

li {
    list-style: none;
}

img {
    max-width: 500px;
    width: 100%;
    margin: 10px 0;

}
