$primary-color: #4d07eb;
$secondary-color: #fb37bf;
$tertiary-color: #00d8f3;

.wrapper {
    margin: 0 auto;
    max-width: 1200px;
    width: 80%;
}

section {
    margin: 25px;
}

h2 {
    padding: 20px 0;
}

p {
    margin: 10px;
}

li {
    list-style: none;
}

button {
    background-color: $secondary-color;
    border-style: none;
    padding: 10px;
    margin: 10px;
    width: 150px;
    height: 35px;
    border-radius: 25px;
    color: white;
}

.banner-image {
    width: 100%;
}

.regular-image {
    max-width: 500px;
    width: 100%;
    margin: 10px 0;
}

.skills-container {
    
    .skills-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding-left: 0;

        .skills-item {
            display: flex;
            flex-direction: column;
            padding: 35px 125px;
            i {
                font-size: 6rem;
                
            }
            p {
                padding-top: 20px;
                font-size: 1rem;
            }
        }
    }
}

.followList {
    display: flex;
    justify-content: center;
    .github,
    .linkedin,
    .instagram {
        display: flex;
        flex-direction: column;
        padding: 25px;
    }
    i {
        font-size: 2rem;
    }
    
}
