header {
    
    color: white;

    .header-container {
        background-color: $primary-color;
        margin: 50px 0;
        height: 90vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h1 {
        font-size: 50px;
        font-weight: 800;
        
        }
    }
}

header nav {
    background-color: white;
    ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0 auto;
    padding-left: 0px;
    }
    li {
        padding: 10px;
    }
}
