header {
    background-color: $primary-color;
    color: white;

    h1 {
        font-size: 50px;
    }
    h4 {
        margin: 20px 0;
    }
}

header nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0 auto;
    padding-left: 0px;
    li {
        padding: 10px;
    }
    a {
    color: white;
    }
}
