header {
    
    color: white;

    .headerContainer {
        background-color: $primary-color;
        padding: 50px 0;
        h1 {
        font-size: 50px;
        font-weight: 800;
        }
        button {
            background-color: $secondary-color;
            border-style: none;
            padding: 10px;
        }
        
    }
}

header nav {
    background-color: white;
    ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0 auto;
    padding-left: 0px;
    }
    li {
        padding: 10px;
    }
}
