@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

a {
  background: 0 0;
}

a:active, a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

a, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: 700;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 125%;
  line-height: 1.5;
}

label {
  text-transform: none;
}

p {
  text-transform: none;
}

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
  width: 90%;
}

section {
  padding: 25px;
}

h2 {
  padding: 20px 0;
}

p {
  margin: 10px;
}

li {
  list-style: none;
}

button,
#explore-projects {
  background-color: #fb37bf;
  border-style: none;
  box-shadow: -5px 5px 2px rgba(0, 0, 0, 0.5);
  margin: 20px;
  width: 150px;
  height: 35px;
  border-radius: 25px;
  color: white;
  font-size: 16px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hamburger-menu-nav {
  display: none;
  color: black;
}

.isActive {
  top: 0;
}

.menu-icon {
  z-index: 10;
}

nav a {
  text-decoration: none;
  color: black;
  padding: 10px;
}

header nav a:hover {
  color: white;
  background-color: #4d07eb;
  opacity: 0.8;
  margin: 5px 0;
  transition: 0.5s;
}

.follow-list nav a:hover {
  color: #4d07eb;
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-image {
  max-width: 750px;
  width: 100%;
  margin: 10px 0;
}

.banner-image {
  width: 100%;
}

.regular-image {
  max-width: 500px;
  width: 100%;
  margin: 10px 0;
}

.skills {
  background-color: #4d07eb;
  color: white;
}

.skills-container .skills-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-left: 0;
}
.skills-container .skills-list .skills-item {
  display: flex;
  flex-direction: column;
  padding: 35px 125px;
}
.skills-container .skills-list .skills-item i {
  font-size: 6rem;
}
.skills-container .skills-list .skills-item p {
  padding-top: 20px;
  font-size: 1rem;
}

.project-icons-list i:hover {
  color: #4d07eb;
  transition: 0.3s;
}

.skills-item p:hover {
  color: #00d8f3;
  opacity: 0.8;
  transition: 0.3s;
}
.skills-item i:hover {
  color: #00d8f3;
  opacity: 0.8;
  transition: 0.3s;
}

button:hover {
  background-color: #00d8f3;
  transition: 0.3s;
}

.github,
.linkedin,
.instagram {
  display: flex;
  flex-direction: column;
  padding: 25px;
}
.github i,
.linkedin i,
.instagram i {
  font-size: 2rem;
}

.github i:hover,
.linkedin i:hover,
.instagram i:hover {
  color: #4d07eb;
  transition: 0.3s;
}

.project-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.project-links a {
  text-decoration: none;
  color: black;
}

.project-links a:hover {
  color: #4d07eb;
}

.project-container {
  display: flex;
  padding: 25px 0;
}
.project-container .word-container {
  width: 50%;
  padding: 0 50px;
}
.project-container img {
  box-shadow: -5px 5px 3px rgba(0, 0, 0, 0.5);
  width: 50%;
}

.project-icons-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.project-icons-container .project-icons-list {
  display: flex;
}
.project-icons-container .project-icons-list i {
  font-size: 2rem;
  padding: 5px;
}

.about-me {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about-me p {
  width: 50%;
  text-align: center;
}

textarea {
  width: 100%;
}

.contact-us {
  background-color: #4d07eb;
  color: white;
  padding: 25px;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
}

.user-inputs {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.user-input-1,
.user-input-2 {
  width: calc((100% / 2) - 7.5px);
}

.user-input-1 {
  margin-right: 10px;
}

.user-input-1 input,
.user-input-2 input {
  padding-left: 20px;
}

input {
  width: 100%;
  height: 50px;
  color: black;
}

.user-input-1 label,
.user-input-2 label,
label {
  display: block;
  padding-bottom: 10px;
}

textarea {
  padding: 20px 0;
  padding-left: 20px;
  color: black;
}

.contact-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
}
.contact-container .follow-list {
  width: 50%;
  text-align: center;
}
.contact-container .follow-list ul {
  padding-left: 0;
}

header {
  color: white;
}
header .header-container {
  background-color: #4d07eb;
  margin: 25px 0;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header .header-container h1 {
  font-size: 50px;
  font-weight: 800;
}

header nav {
  background-color: white;
}
header nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0 auto;
  padding-left: 0px;
}
header nav li {
  padding: 10px;
}

@media (max-width: 1200px) {
  .project-container:nth-of-type(1),
.project-container:nth-of-type(3) {
    flex-direction: column;
    margin-top: 20px;
    align-items: center;
  }
  .project-container:nth-of-type(1) img,
.project-container:nth-of-type(3) img {
    width: 100%;
  }
  .project-container:nth-of-type(1) .word-container,
.project-container:nth-of-type(3) .word-container {
    width: 100%;
    padding: 35px;
  }

  .project-container:nth-of-type(2),
.project-container:nth-of-type(4) {
    flex-direction: column-reverse;
    margin-top: 20px;
    align-items: center;
  }
  .project-container:nth-of-type(2) img,
.project-container:nth-of-type(4) img {
    width: 100%;
  }
  .project-container:nth-of-type(2) .word-container,
.project-container:nth-of-type(4) .word-container {
    width: 100%;
    padding: 35px 0;
  }

  .about-me img {
    width: 50%;
  }
  .about-me p {
    padding: 20px;
    font-size: 0.8rem;
  }
}
@media (max-width: 920px) {
  .skills-container {
    justify-content: center;
  }
  .skills-container .skills-list .skills-item {
    padding: 35px 100px;
  }
}
@media (max-width: 800px) {
  .skills-container .skills-list .skills-item {
    padding: 35px 75px;
  }
  .skills-container .skills-list i {
    font-size: 3rem;
  }
  .skills-container .skills-list p {
    font-size: 0.8rem;
    margin: 0;
  }

  .github,
.linkedin,
.instagram {
    display: flex;
    flex-direction: column;
    padding: 25px;
  }
  .github a,
.linkedin a,
.instagram a {
    font-size: 0.5rem;
  }

  .user-inputs {
    flex-direction: column;
  }
  .user-inputs .user-input-1,
.user-inputs .user-input-2 {
    width: 100%;
  }

  .user-input-1 {
    margin-right: 0;
    margin-bottom: 20px;
  }
}
@media (max-width: 678px) {
  .skills-container .skills-list .skills-item {
    padding: 35px 15px;
  }
  .skills-container .skills-list .skills-item i {
    font-size: 2rem;
  }
  .skills-container .skills-list .skills-item p {
    font-size: 0.5rem;
  }

  .about-me {
    flex-direction: column;
  }
  .about-me p {
    width: 100%;
  }

  .hamburger-menu-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 15px;
  }

  header nav ul {
    position: fixed;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    top: -300px;
    padding-top: 50px;
    left: 0;
    background-color: white;
    transition: top 0.3s ease-in;
  }

  .contact-container {
    flex-direction: column-reverse;
  }
}
@media (max-width: 570px) {
  .skills-item {
    max-width: 80px;
    max-height: 160px;
  }
}/*# sourceMappingURL=style.css.map */